.sw-main {
  margin: 86px 20px 20px 20px;
}

.sw-show-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.sw-show-card {
  width: 250px;
  height: 350px;
}

.sw-show-card img {
  width: 100%;
  height: 100%;
}

.sw-show-card:hover .sw-show-info {
  opacity: 1;
}

.sw-show-info {
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  color: white;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  width: 250px;
  height: 350px;
}
