
.sw-main {
  margin: 86px 20px 20px 20px;
}

.sw-show-grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;

}
.sw-show-card {
  width: 250px;
  height: 350px;
}

.sw-show-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sw-show-card:hover .sw-show-info {
  opacity: 0.9;
  -webkit-box-shadow: 0 0 10px 4px white;
          box-shadow: 0 0 10px 4px white;
}

.sw-show-info {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: rgb(142, 0, 222);
  color: white;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  width: 250px;
  height: 350px;
  padding: 0 10px 0 10px;
  overflow: overlay;
  border-radius: 10px;

}

.sw-show-info ul {
  list-style-type: none;
  padding: 0;
}
.sw-show-info ul > li {
  padding-bottom: 2px;
}