.sw-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75vh;
}

.sw-login-form {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 15px;
  padding: 20px 20px 10px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 7px 6px 7px 3px #111111;
  box-shadow: 7px 6px 7px 3px #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sw-login-form-title {
  color: white;
  text-shadow: 0 0 10px #00dbde;
  font-size: 1.8rem;
  font-variant-caps: small-caps;
  text-align: center;
}

.sw-login-form-form {
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sw-login-form-input {
  padding: 10px;
  margin: 10px 0px;
  border-width: 0;
  border-radius: 8px;
  width: 50vw;
  max-width: 480px;
}
.sw-login-form-input:focus {
  outline: none;
}

.sw-login-form-button {
  padding: 10px;
  margin: 10px 0px;
  width: 50vw;
  max-width: 480px;
  border-radius: 8px;
  border-width: 0px;
  background-color: rgba(142, 0, 222, 0.66);
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}
.sw-login-form-button:hover {
  color: white;
  -webkit-box-shadow: 0 0 10px 4px white;
  box-shadow: 0 0 10px 4px white;
  background-color: rgba(142, 0, 222, 1);
}

.sw-login-form-link {
  margin-top: 20px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-style: italic;
  text-decoration: none;
  color: #f8f8f8;
}
.sw-login-form-link:hover {
  text-decoration: underline;
}
