@media all and (max-width: 640px) {
  .sw-header {
    margin: 0;
    padding-bottom: 10px;
  }
  .sw-main {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 60vh;
  }
  .sw-login-form {
    margin: 0px;
    padding: 0px 20px 0px 20px;
    display: block;
    height: 60vh;
    border-radius: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: unset;
    min-width: unset;
  }

  .sw-login-form-title {
    margin: 10px;
  }
  .sw-login-form-input {
    width: 100%;
  }

  .sw-login-form-button {
    width: 100%;
    color: white;
    -webkit-box-shadow: 0 0 10px 0px white;
    box-shadow: 0 0 10px 0px white;
    background-color: rgba(142, 0, 222, 1);
  }
  .sw-login-form-link {
    float: right;
  }
}
